<main id="main">
    <div class="container">
        <h3 class="py-3 text-center">Create Product</h3>
        <form class="form" action="/admin" method="POST">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" id="title" type="text" name="title" placeholder="Title">
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" id="description" name="description" rows="3"></textarea>
            </div>
            <div class="mb-3">
                <label class="form-label" for="price">Price</label>
                <input class="form-control" id="price" type="number" min="0" name="price" placeholder="Price">
            </div>
            <button class="btn btn-primary" type="submit">Add Product</button>
        </form>
    </div>
</main> 