extends ../layouts/main-layout.pug

block links
    link(rel='stylesheet' href='/css/create-product.css')

block content
    main#main
        .container
            h3.py-3.text-center Create Product
            form.form(action='/admin' method='POST')
                .mb-3
                    label.form-label(for='title') Title
                    input#title.form-control(type='text' name='title' placeholder='Title')
                .mb-3
                    label.form-label(for='description') Description
                    textarea#description.form-control(name='description' rows='3')
                .mb-3
                    label.form-label(for='price') Price
                    input#price.form-control(type='number' min="0" name='price' placeholder='Price')
                button.btn.btn-primary(type='submit') Add Product