<%- include('./includes/head') %>
    <link rel="stylesheet" href="/css/404.css">
  </head>

  <body>
    <%- include('./includes/header') %>

    <main>
      <div class="container">
        <h3 class="py-3">Page not found</h3>
      </div>
    </main>

<%- include('./includes/end') %>