<link rel="stylesheet" href="/css/shop.css">
<main>
    <div class="container"> 
        <h3 class="py-3">My Products</h3>
        <% if(products.length > 0) { %>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <% products.forEach>
                    <div class="col">
                        <div class="card" style="width: 18rem; height: auto;">
                            <img class="card-img-top" style="height: 15rem; object-fit:cover" src="https://cdn.pixabay.com/photo/2016/12/10/21/26/food-1898194_960_720.jpg" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{this.title}}</h5>
                                <p class="card-text">{{this.description}}</p>
                                <a class="btn btn-primary" href="#">View Details</a>
                            </div>
                        </div>
                    </div>
                <% products.forEach>
            </div>
        <% } else { %>
            <div class="row">No Products Found</div>
        <% }%>
    </div>
</main>